<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="meal">
      <h2 data-cy="mealDetailsHeading"><span jhiTranslate="dietCalcApplicationApp.meal.detail.title">Meal</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dietCalcApplicationApp.meal.id">Id</span></dt>
        <dd>
          <span>{{ meal.id }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.meal.mealTime">Meal Time</span></dt>
        <dd>
          <span jhiTranslate="{{ 'dietCalcApplicationApp.MealName.' + meal.mealTime }}">{{ meal.mealTime }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.meal.di">Di</span></dt>
        <dd>
          <span>{{ meal.di | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/meal', meal.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
