<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="foodNutritionalValue">
      <h2 data-cy="foodNutritionalValueDetailsHeading">
        <span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.detail.title">Food Nutritional Value</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.id">Id</span></dt>
        <dd>
          <span>{{ foodNutritionalValue.id }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.di">Di</span></dt>
        <dd>
          <span>{{ foodNutritionalValue.di | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.name">Name</span></dt>
        <dd>
          <span>{{ foodNutritionalValue.name }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.protein">Protein</span></dt>
        <dd>
          <span>{{ foodNutritionalValue.protein }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.proteinCal">Protein Cal</span></dt>
        <dd>
          <span>{{ foodNutritionalValue.proteinCal }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.fat">Fat</span></dt>
        <dd>
          <span>{{ foodNutritionalValue.fat }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.fatCal">Fat Cal</span></dt>
        <dd>
          <span>{{ foodNutritionalValue.fatCal }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.carbohydrate">Carbohydrate</span></dt>
        <dd>
          <span>{{ foodNutritionalValue.carbohydrate }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.carbohydrateCal">Carbohydrate Cal</span></dt>
        <dd>
          <span>{{ foodNutritionalValue.carbohydrateCal }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.quantity">Quantity</span></dt>
        <dd>
          <span>{{ foodNutritionalValue.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.isProteinPowder">Is Protein Powder</span></dt>
        <dd>
          <span>{{ foodNutritionalValue.isProteinPowder }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/food-nutritional-value', foodNutritionalValue.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
