@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.ng-invalid:not(form) {
  border-left: 0px solid;
}
.ng-valid[required],
.ng-valid.required {
  border-left: 0px solid;
}
