<mat-stepper linear #stepper>
  <mat-step [editable]="isEditable">
    <form [formGroup]="nameFormGroup">
      <ng-template matStepLabel>Fill your recipe name</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="nameCtrl" placeholder="Ex: mexican mix" />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [editable]="isEditable">
    <ng-template matStepLabel>Add your ingredients</ng-template>

    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Ingredient</mat-label>
        <input type="text" placeholder="Type your ingredient" matInput [formControl]="inputControl" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addIngredientToList($event)">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <table mat-table [dataSource]="insertedIngredients" *ngIf="insertedIngredients.data.length > 0">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let user">{{ user.name }}</td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight</th>
        <td mat-cell *matCellDef="let user">
          <form [formGroup]="user.form">
            <mat-form-field appearance="fill">
              <input matInput formControlName="weight" placeholder="Ex: 100gr" />
            </mat-form-field>
          </form>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
    <!--    <form [formGroup]="thirdFormGroup">-->
    <!--      <ng-template matStepLabel>Resulted quantity</ng-template>-->
    <!--      <mat-form-field appearance="fill">-->
    <!--        <mat-label>Resulted quantity</mat-label>-->
    <!--        <input matInput formControlName="thirdCtrl" placeholder="resulted quantity" />-->
    <!--      </mat-form-field>-->
    <!--      <div>-->
    <!--        <button mat-button matStepperPrevious>Back</button>-->
    <!--        <button mat-button matStepperNext>Next</button>-->
    <!--      </div>-->
    <!--    </form>-->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>

<!-- Copyright 2021 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
