<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-food-heading" data-cy="FoodCreateUpdateHeading" jhiTranslate="dietCalcApplicationApp.food.home.createOrEditLabel">
        Create or edit a Food
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.food.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.food.quantity" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.food.foodNutritionalValue" for="field_foodNutritionalValue"
            >Food Nutritional Value</label
          >
          <select
            class="form-control"
            id="field_foodNutritionalValue"
            data-cy="foodNutritionalValue"
            name="foodNutritionalValue"
            formControlName="foodNutritionalValue"
          >
            <option *ngIf="!editForm.get('foodNutritionalValue')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                foodNutritionalValueOption.id === editForm.get('foodNutritionalValue')!.value?.id
                  ? editForm.get('foodNutritionalValue')!.value
                  : foodNutritionalValueOption
              "
              *ngFor="let foodNutritionalValueOption of foodNutritionalValuesSharedCollection; trackBy: trackFoodNutritionalValueById"
            >
              {{ foodNutritionalValueOption.name }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['foodNutritionalValue'])!.invalid &&
            (editForm.get(['foodNutritionalValue'])!.dirty || editForm.get(['foodNutritionalValue'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['foodNutritionalValue'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
