<div>
  <h2 id="page-heading" data-cy="FoodHeading">
    <span jhiTranslate="dietCalcApplicationApp.food.home.title">Foods</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dietCalcApplicationApp.food.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-food"
        [routerLink]="['/food/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dietCalcApplicationApp.food.home.createLabel"> Create a new Food </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="foods?.length === 0">
    <span jhiTranslate="dietCalcApplicationApp.food.home.notFound">No foods found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="foods && foods.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="dietCalcApplicationApp.food.id">Id</span></th>
          <th scope="col"><span jhiTranslate="dietCalcApplicationApp.food.di">Di</span></th>
          <th scope="col"><span jhiTranslate="dietCalcApplicationApp.food.quantity">Quantity</span></th>
          <th scope="col"><span jhiTranslate="dietCalcApplicationApp.food.meal">Meal</span></th>
          <th scope="col"><span jhiTranslate="dietCalcApplicationApp.food.foodNutritionalValue">Food Nutritional Value</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of foods; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/food', food.id, 'view']">{{ food.id }}</a>
          </td>
          <td>{{ food.di | formatMediumDatetime }}</td>
          <td>{{ food.quantity }}</td>
          <td>
            <div *ngIf="food.meal">
              <a [routerLink]="['/meal', food.meal?.id, 'view']">{{ food.meal?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="food.foodNutritionalValue">
              <a [routerLink]="['/food-nutritional-value', food.foodNutritionalValue?.id, 'view']">{{ food.foodNutritionalValue?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/food', food.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/food', food.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(food)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
