<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-user-status-heading"
        data-cy="UserStatusCreateUpdateHeading"
        jhiTranslate="dietCalcApplicationApp.userStatus.home.createOrEditLabel"
      >
        Create or edit a User Status
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.userStatus.weight" for="field_weight">Weight</label>
          <input type="number" class="form-control" name="weight" id="field_weight" data-cy="weight" formControlName="weight" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.userStatus.proteinNeed" for="field_proteinNeed"
            >Protein Need</label
          >
          <input
            type="number"
            class="form-control"
            name="proteinNeed"
            id="field_proteinNeed"
            data-cy="proteinNeed"
            formControlName="proteinNeed"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.userStatus.calProteinNeed" for="field_calProteinNeed"
            >Cal Protein Need</label
          >
          <input
            type="number"
            class="form-control"
            name="calProteinNeed"
            id="field_calProteinNeed"
            data-cy="calProteinNeed"
            formControlName="calProteinNeed"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.userStatus.fatNeed" for="field_fatNeed">Fat Need</label>
          <input type="number" class="form-control" name="fatNeed" id="field_fatNeed" data-cy="fatNeed" formControlName="fatNeed" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.userStatus.calFatNeed" for="field_calFatNeed"
            >Cal Fat Need</label
          >
          <input
            type="number"
            class="form-control"
            name="calFatNeed"
            id="field_calFatNeed"
            data-cy="calFatNeed"
            formControlName="calFatNeed"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.userStatus.carbohydrateNeed" for="field_carbohydrateNeed"
            >Carbohydrate Need</label
          >
          <input
            type="number"
            class="form-control"
            name="carbohydrateNeed"
            id="field_carbohydrateNeed"
            data-cy="carbohydrateNeed"
            formControlName="carbohydrateNeed"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="dietCalcApplicationApp.userStatus.calCarbohydrateNeed"
            for="field_calCarbohydrateNeed"
            >Cal Carbohydrate Need</label
          >
          <input
            type="number"
            class="form-control"
            name="calCarbohydrateNeed"
            id="field_calCarbohydrateNeed"
            data-cy="calCarbohydrateNeed"
            formControlName="calCarbohydrateNeed"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.userStatus.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
