<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-food-nutritional-value-heading"
        data-cy="FoodNutritionalValueCreateUpdateHeading"
        jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.home.createOrEditLabel"
      >
        Create or edit a Food Nutritional Value
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.di" for="field_di">Di</label>
          <div class="d-flex">
            <input
              id="field_di"
              data-cy="di"
              type="datetime-local"
              class="form-control"
              name="di"
              formControlName="di"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.barcode" for="field_barcode"
            >Barcode</label
          >
          <input type="text" class="form-control" name="barcode" id="field_barcode" data-cy="barcode" formControlName="barcode" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.protein" for="field_protein"
            >Protein</label
          >
          <input type="number" class="form-control" name="protein" id="field_protein" data-cy="protein" formControlName="protein" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.proteinCal" for="field_proteinCal"
            >Protein Cal</label
          >
          <input
            type="number"
            class="form-control"
            name="proteinCal"
            id="field_proteinCal"
            data-cy="proteinCal"
            formControlName="proteinCal"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.fat" for="field_fat">Fat</label>
          <input type="number" class="form-control" name="fat" id="field_fat" data-cy="fat" formControlName="fat" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.fatCal" for="field_fatCal"
            >Fat Cal</label
          >
          <input type="number" class="form-control" name="fatCal" id="field_fatCal" data-cy="fatCal" formControlName="fatCal" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.carbohydrate" for="field_carbohydrate"
            >Carbohydrate</label
          >
          <input
            type="number"
            class="form-control"
            name="carbohydrate"
            id="field_carbohydrate"
            data-cy="carbohydrate"
            formControlName="carbohydrate"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.carbohydrateCal"
            for="field_carbohydrateCal"
            >Carbohydrate Cal</label
          >
          <input
            type="number"
            class="form-control"
            name="carbohydrateCal"
            id="field_carbohydrateCal"
            data-cy="carbohydrateCal"
            formControlName="carbohydrateCal"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.quantity" for="field_quantity"
            >Quantity</label
          >
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.isProteinPowder"
            for="field_isProteinPowder"
            >Is Protein Powder</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isProteinPowder"
            id="field_isProteinPowder"
            data-cy="isProteinPowder"
            formControlName="isProteinPowder"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.foodNutritionalValue"
            for="field_foodNutritionalValue"
            >Food Nutritional Value</label
          >
          <select
            class="form-control"
            id="field_foodNutritionalValue"
            data-cy="foodNutritionalValue"
            name="foodNutritionalValue"
            formControlName="foodNutritionalValue"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                foodOption.id === editForm.get('foodNutritionalValue')!.value?.id ? editForm.get('foodNutritionalValue')!.value : foodOption
              "
              *ngFor="let foodOption of foodsSharedCollection; trackBy: trackFoodById"
            >
              {{ foodOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
