<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-meal-heading" data-cy="MealCreateUpdateHeading" jhiTranslate="dietCalcApplicationApp.meal.home.createOrEditLabel">
        Create or edit a Meal
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.meal.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.meal.mealTime" for="field_mealTime">Meal Time</label>
          <select class="form-control" name="mealTime" formControlName="mealTime" id="field_mealTime" data-cy="mealTime">
            <option [ngValue]="null">{{ 'dietCalcApplicationApp.MealName.null' | translate }}</option>
            <option value="MORNING">{{ 'dietCalcApplicationApp.MealName.MORNING' | translate }}</option>
            <option value="PRELAUNCH">{{ 'dietCalcApplicationApp.MealName.PRELAUNCH' | translate }}</option>
            <option value="LAUNCH">{{ 'dietCalcApplicationApp.MealName.LAUNCH' | translate }}</option>
            <option value="PREDINNER">{{ 'dietCalcApplicationApp.MealName.PREDINNER' | translate }}</option>
            <option value="DINNER">{{ 'dietCalcApplicationApp.MealName.DINNER' | translate }}</option>
            <option value="AFTERDINNER">{{ 'dietCalcApplicationApp.MealName.AFTERDINNER' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dietCalcApplicationApp.meal.di" for="field_di">Di</label>
          <div class="d-flex">
            <input
              id="field_di"
              data-cy="di"
              type="datetime-local"
              class="form-control"
              name="di"
              formControlName="di"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('di')!.invalid && (editForm.get('di')!.dirty || editForm.get('di')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('di')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('di')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
