<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="userDetails">
      <h2 data-cy="userDetailsDetailsHeading"><span jhiTranslate="dietCalcApplicationApp.userDetails.detail.title">User Details</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ userDetails.id }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.userDetails.weight">Weight</span></dt>
        <dd>
          <span>{{ userDetails.weight }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.userDetails.proteinNeed">Protein Need</span></dt>
        <dd>
          <span>{{ userDetails.proteinNeed }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.userDetails.calProteinNeed">Cal Protein Need</span></dt>
        <dd>
          <span>{{ userDetails.calProteinNeed }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.userDetails.fatNeed">Fat Need</span></dt>
        <dd>
          <span>{{ userDetails.fatNeed }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.userDetails.calFatNeed">Cal Fat Need</span></dt>
        <dd>
          <span>{{ userDetails.calFatNeed }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.userDetails.carbohydrateNeed">Carbohydrate Need</span></dt>
        <dd>
          <span>{{ userDetails.carbohydrateNeed }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.userDetails.calCarbohydrateNeed">Cal Carbohydrate Need</span></dt>
        <dd>
          <span>{{ userDetails.calCarbohydrateNeed }}</span>
        </dd>
        <dt><span jhiTranslate="dietCalcApplicationApp.userDetails.user">User</span></dt>
        <dd>
          <span>{{ userDetails.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/user-details', userDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
