<div>
  <h2 id="page-heading" data-cy="FoodNutritionalValueHeading">
    <span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.home.title">Food Nutritional Values</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-food-nutritional-value mr-2"
        [routerLink]="['/food-nutritional-value/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.home.createLabel"> Create a new Food Nutritional Value </span>
      </button>

      <button
        id="jh-create-entity-custom"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-food-nutritional-value"
        [routerLink]="['new-food-nutritional-custom']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Custom Food</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="foodNutritionalValues?.length === 0">
    <span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.home.notFound">No foodNutritionalValues found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="foodNutritionalValues && foodNutritionalValues.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.id">Id</span></th>
          <th scope="col"><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.di">Di</span></th>
          <th scope="col"><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.name">Name</span></th>
          <th scope="col"><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.protein">Protein</span></th>
          <th scope="col"><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.proteinCal">Protein Cal</span></th>
          <th scope="col"><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.fat">Fat</span></th>
          <th scope="col"><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.fatCal">Fat Cal</span></th>
          <th scope="col"><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.carbohydrate">Carbohydrate</span></th>
          <th scope="col"><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.carbohydrateCal">Carbohydrate Cal</span></th>
          <th scope="col"><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.quantity">Quantity</span></th>
          <th scope="col"><span jhiTranslate="dietCalcApplicationApp.foodNutritionalValue.isProteinPowder">Is Protein Powder</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let foodNutritionalValue of foodNutritionalValues; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/food-nutritional-value', foodNutritionalValue.id, 'view']">{{ foodNutritionalValue.id }}</a>
          </td>
          <td>{{ foodNutritionalValue.di | formatMediumDatetime }}</td>
          <td>{{ foodNutritionalValue.name }}</td>
          <td>{{ foodNutritionalValue.protein }}</td>
          <td>{{ foodNutritionalValue.proteinCal }}</td>
          <td>{{ foodNutritionalValue.fat }}</td>
          <td>{{ foodNutritionalValue.fatCal }}</td>
          <td>{{ foodNutritionalValue.carbohydrate }}</td>
          <td>{{ foodNutritionalValue.carbohydrateCal }}</td>
          <td>{{ foodNutritionalValue.quantity }}</td>
          <td>{{ foodNutritionalValue.isProteinPowder }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/food-nutritional-value', foodNutritionalValue.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/food-nutritional-value', foodNutritionalValue.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(foodNutritionalValue)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
